{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Movie List</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
	<a href="/"><img src="https://codeinstitute.s3.amazonaws.com/Django%20Content/Hello%20Django%20MiniChallenges/Code_institute-logo%20%281%29.png" alt="Code Institute logo" /></a>
	<h1>Movie List</h1>
	<h4>List movie you have watched or want to watch</h4>
	<table>
		<tr>
			<th>Movie Title</th>
			<th>Director</th>
			<th>Genre</th>
			<th>Description</th>
			<th>Imdb page</th>
			<th>Rating (/5)</th>
			<th>Edit</th>
			<th>Toggle</th>
			<th>Delete</th>
		</tr>
		{% for movie in movies %}
		<tr>
		  {% if movie.watched %}
		  <td><s>{{ movie.title }}</s></td>
		  {% else %}
		  <td>{{ movie.title }}</td>
		  {% endif %}
		  <td>{{ movie.director }}</td>
		  <td>{{ movie.genre }}</td>
		  <td>{{ movie.description }}</td>
		  <td><a href="{{ movie.imdb_link }}" target="_blank">Link</a></td>
		  <td>{{ movie.rating }}</td>
		  <td><a href="/edit/{{movie.id}}">Edit</a></td>
		  <td><a href="/toggle/{{movie.id}}">Toggle</a></td>
		  <td><a href="/delete/{{movie.id}}">Delete</a></td>
		</tr>
		{% empty %}
		<tr>
		  <td>You have no movies - add one!</td>
		</tr>
		{% endfor %}
	</table>
	<p>
		<a href="/add">Add a movie</a>
	</p>
</body>

</html>