body {
    font-family: ‘Montserrat’, sans-serif;
}

h1 {
    font-size: 48px;
    margin-bottom: 0;
    text-align: right;
    margin-right: 10%;
}

h4 {
    margin-top: 10px;
    text-align: right;
    margin-right: 10%;
}

s {
    color: #ff5a60;
}

img {
    height: 80px;
    margin-top: 10px;
    float: left;
    margin-left: 10%;
}

form {
    width: 35%;
    margin: 0px auto;
    box-shadow: 5px 10px 20px #E6ECF0;
    padding: 40px 20px;
}

table {
    width: 75%;
    margin: 60px auto;
    box-shadow: 5px 10px 20px #E6ECF0;
    background-color: white;
    clear: both;
    text-align: center;
    padding: 20px 20px 20px;
}

th {
    background-color: #E84610;
    color: white;
    padding: 5px;
}

td {
    font-size: 14px;
    background-color: white;
}

td:nth-child(1) {
    background-color: #E6ECF0;
    color: #4A4A4F;
    font-size: 18px;
}

button {
    background-color: #E6ECF0;
    color: #4A4A4F;
    border: 0;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid #E6ECF0;
}

button:hover {
    background-color: white;
    color: #009FE3;
}

p:last-child {
    text-align: center;
    margin-top: 20px;
}

p {
    margin-left: 20px;
}